$base-color: #1e633f;
$accent-color: #32a66a;
$text-color-dark: #212121;
$text-color-white: #ffffff;
$text-color-gray: rgb(188, 188, 188);
$text-color-gray-dark: gray;

$link-opacity: 0.75;

$shadow-grey: 0 0 10px 5px #dbdbdb;

$body-bg-color: #fbfbfb;

$table-text-color: #4c4c4c;
$table-cell-bg: #F9F9F9;